table, tr, td {
    border: 1px solid;
    border-color: #3d444d;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    width: 25%;
    padding-left: 10px;
    padding-right: 0px;
}

.button_cell {
    padding: 0px;
    width: 0%;
}

.save_button {
    gap: .5rem;
    height: 2rem;
    justify-content: space-between;
    min-width: max-content;
    padding: 0 .75rem;
    text-align: center;

    font-size: 15px;
    border: 1px solid;
    border-color: #3d444d;
    background: #0d1117; /* Green color */
    border-radius: 0px;
    background-color: #29903b;
    color: #ffffff;
    border-color: #ffffff26;
}

.button_cell {
  align-items: stretch; /* Stretches items along the cross-axis (vertically by default) */
  justify-content: space-between; /* Example: distributes items along the main-axis */
}

table td button {
    display: inline-block;
    padding-top: .7em;
    padding-bottom: .7em;
    padding-right: 8px;
    padding-left: 8px;
    
    color: #ffffff;
    border: .0625rem solid;
    border-color: #ffffff26;
    gap: .5rem;
    justify-content: space-between;
    min-width: max-content;
    text-align: center;
/*  background-color: #fff0; /* Transparent buttons */
    background: #0d1117; /* Same as site color */
    font-family: 'Times New Roman', sans-serif;  /* Using different font to make the signs bigger */
}

.label_cell {
    width: 80%;
    /*margin: 0px; /* Apparently no need */
    border-right: none;

}

.shelf_life_cell {
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    border-left: none;
}

/* Tint and color when hovering table elements */
tr:hover td {
  background-color: #151b23;
}
.remove_button:hover {
  background: #e42122;
}
.add_button:hover {
  background: #2e9a40;
}



.green_row {
    background-color: #2ea04326;
}

.red_row {
    background-color: #f851491a;
}

table td p {
    margin: 0px;
}

body {
    font-family: 'Space Mono', monospace;
    background: #0d1117;
    color: #9198a1;
}

/* Inherit font from body, doesn't happen automatically for some reason */
button, input, select {
    font-family: inherit; 
}

p {
    color: #9198a1;
}

b {
    color: #f0f6fc;
}

a, a:visited {
    color: #4493f8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: .2rem;
}

/* ------------ Forms ------------ */

input {
    font-size: 15px;
    border: 1px solid;
    border-color: #3d444d;
    background: #0d1117; /* Green color */
    border-radius: 0px;
    padding: 4px 8px;
    background-color: #29903b;
    color: #ffffff;
    border-color: #ffffff26;
}

label input {
    border-color: #3d444d;
    background: #0d1117; /* Background color */
    color: #ffffff;
}

select {
    font-size: 15px;
    border: 1px solid;
    border-color: #3d444d;
    color: #ffffff;
    background-color: #0d1117; /* Background color */
    padding: 4px 8px;
    border-radius: 0px;
}

